AUTH_GITHUB_ID=       # Your github OAuth application client ID
AUTH_GITHUB_SECRET=   # Your github OAuth application client secret
AUTH_SECRET=          # Random 32 byte secret
AUTH_URL=             # Dev/Staging/Prod website URL
DATABASE_URL=
